/* Import the Google Fonts stylesheet */
@import url("https://fonts.googleapis.com/css?family=Jost&display=swap");

/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Jost, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 4, 1fr;
  grid-template-rows: auto 1fr;
}

/* Header styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #0d453a;
  height: 10vh;
}

.header .logo img {
  width: 50px;
  height: auto;
}

.header .nav-links a {
  color: #fff;
  font-size: smaller;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background 0.3s;
}

.header .nav-links a:hover {
  color: aquamarine;
}

/* Hero section styles */
.hero {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000000;
  border: 2px solid #000000;
  border-color: #000000;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.hero-text h1 {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

.hero-text h2 {
  font-size: 1rem;
  margin-top: 0;
}

.hero-text p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  width: 40vh;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .header .nav-links {
    font-size: medium;
  }

  .header .nav-links a {
    font-size: small;
  }

  .hero-text h1 {
    font-size: 3rem;
  }

  .hero-text h2 {
    font-size: 1.5rem;
    margin-top: 0;
  }

  .hero-text p {
    font-size: 1rem;
    margin-top: 0.5rem;
    width: 50cap;
    text-align: left;
  }
}

@media screen and (min-width: 1024px) {
  .header .nav-links a {
    font-size: medium;
  }

  .hero-text h1 {
    font-size: 4rem;
  }

  .hero-text h2 {
    font-size: 2rem;
    margin-top: 0;
  }

  .hero-text p {
    font-size: 1rem;
    margin-top: 0.5rem;
    width: 70cap;
    text-align: left;
  }
}
